.menuitem {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0
}

.menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuitem-name {
    flex: 1;
}

.menuitem-dash {
    width: 100px;
    height: 1px;
    background-color: var(--white-color);
    margin: 0 2rem;
}

.menuitem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menuitem-price h4 {
    color: var(--white-color)
}

.menuitem-desc-text {
    font-family: var(--secondary-text);
    color: var(--white-color);
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 28px;
    font-size: 14px;
    margin: 0.5rem 0 1rem 0;
}

@media screen and (max-width: 650px) {
    .menuitem-desc-text {
        font-size: 12px;
    }
}
@media screen and (max-width: 450px) {
    .menuitem-desc-text {
        font-size: 10px;
    }
}
