.hero {
    background-color: var(--black-color);
}

.hero-img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.hero-img-reverse {
    justify-content: flex-start;
    margin-right: 2rem;
}

.hero-img img {
    width: 80%;
    border-radius: var(--border-radius);
    border-top: 5px solid var(--orange-color);
    border-left: 5px solid var(--orange-color);
}

@media screen and (max-width: 1150px) {
    .hero-img {
            margin: 5rem 0 0 0;
    }
    
    .hero-img img {
        width: 100%;
    }
}